__pycache__
*.pyc
*.dll
.pytest_cache
.env

Databases
extracted
extracted_test
gamedata
Documentation
settings.json
claude*
.claude
temp
depotest
tests/**/*inventory*.py
wiki/

# Temporary Scripts
out.py
get_enums.py
make_enums.py
